.ipynb_checkpoints/
.pytest_cache/
*.pyc
sparse_env/
.DS_Store
**/__pycache__/
manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.fdb_latexmk
manuscript/*.fls
manuscript/*.log
manuscript/*.out
manuscript/*.synctex.gz
manuscript/*Notes.bib


yukawa-paper/*.aux
yukawa-paper/*.bbl
yukawa-paper/*.blg
yukawa-paper/*.fdb_latexmk
yukawa-paper/*.fls
yukawa-paper/*.log
yukawa-paper/*.out
yukawa-paper/*.synctex.gz
yukawa-paper/*Notes.bib

